version: "1"

services:
  - type: web
    name: ShortLinker
    runtime: docker
    repo: https://github.com/tashhirul990/ShortLinker
    plan: free
    region: singapore

    envVars:
      # Redis Auto Link
      - key: REDIS_HOST
        fromService:
          type: keyvalue
          name: short-linker-redis
          property: host

      - key: REDIS_PORT
        fromService:
          type: keyvalue
          name: short-linker-redis
          property: port

      - key: REDIS_PASSWORD
        fromService:
          type: keyvalue
          name: short-linker-redis
          property: password

      # PostgreSQL Auto Link
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: short-linker-db
          property: connectionString

      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: short-linker-db
          property: user

      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: short-linker-db
          property: password

      # App Config
      - key: APP_CACHE_TTL
        value: "86400"

    dockerContext: .
    dockerfilePath: ./Dockerfile
    autoDeployTrigger: commit


  # Redis Service
  - type: keyvalue
    name: short-linker-redis
    plan: free
    region: singapore
    maxmemoryPolicy: allkeys-lru


databases:
  - name: short-linker-db
    databaseName: short_linker_db
    user: short_linker_db_user
    plan: free
    region: singapore
